body {
  margin: 75px 0 22px;
  font-weight: 400;
}

.desktop-only {
  display: none !important; /* TODO: get rid of 2 last non-mobile images cuz they're still requested from server */
}

h1 {
  font-size: 52px;
  line-height: 44.7px;
  letter-spacing: -0.2px;
}

h2 {
  font-size: 35px;
  line-height: 37px;
  padding-top: 70px;
}

h3 {
  font-size: 28px;
  line-height: 30px;
}

h4 {
  font-size: 23px;
  letter-spacing: -0.3px;
}

section:not(#main) {
  margin-bottom: 70px;
}

nav .button {
  font-size: 16px;
  line-height: 35px;
  border-radius: 18px;
}

nav .container {
  text-align: center;  
}

#scroll-indicator,
nav a[href="#"] {
  display: none;
}

.left, .right.text-only, #evme .cards, .mobile-w290, section:not(.project), .container {
  width: 290px;
  margin: 0 auto;
}

#main {
  min-height: auto;
  width: auto;
}

#main h1 em {
  --anim-translate-x: 10px; /* https://bit.ly/2uP3qeS */
  top: 44px;
}

#main h1 {
  margin-left: -3px;
}

#main .right {
  position: relative;
  justify-content: center;
  display: flex;
}

#main .right::before {
  left: 0;
  width: 100vw;
  height: 177px;
  margin-top: -55px;
}

.project img {
  width: 100%;
  height: auto;
  box-shadow: 0 6px 32px 0 rgba(0, 0, 0, 0.08);
  display: block;
  margin: 0 auto 20px;
}

.project img.mobile-w60 {
  width: 60% !important;
}

#fade_portrait {
  overflow: hidden;
  flex-basis: 290px;
  height: 245px;
}

#fade_portrait::before {
  height: 177px;
  border-top-left-radius: 88px;
  border-bottom-left-radius: 88px;
}

#fade_portrait img {
  width: 233px;
  height: 222px;
  left: 4px;
}

#evme .cards {
  padding-top: 20px;
}

#evme .cards img:not(.mobile-card-wide) {
  width: 90% !important;
}


#footer-content {
  flex-direction: column;
  position: relative;
  padding-bottom: 37px;
}

/* https://bit.ly/2G21mGF */
#footer-content a.button:hover {
  background-color: transparent;
  color: var(--heading);
}

/* push copyright to the bottom */
#copyright {
  position: absolute;
  bottom: -13px;
}

img.mobile-no-shadow {
  box-shadow: none !important;
}