/* reset */
body, h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
}


:root {
  --primary: #079e92;
  --secondary: #02786f;
  --heading: #494949;
  --text-color: #7e7e7e;
  --text-light: #9b9b9b;
  --bg-color: #f0f2f2;
}

html {
  background-color: var(--bg-color);
  scroll-behavior: smooth;
  overflow-x: hidden; /* prevents overflowing content images from causing page overscroll */
}

body {
  font-family: effra, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  margin: 0 auto;
  font-weight: 300;
}

h1 {
  font-size: 100px;
  line-height: 86px;
  letter-spacing: -0.4px;
  font-weight: 500;
  color: var(--heading);
}

h2 {
  font-size: 70px;
  font-weight: 500;
  line-height: 66px;
  margin-bottom: 29px;
  color: var(--primary);
}

h3 {
  font-weight: normal;
  font-size: 36px;
  color: var(--heading);
}

h4 {
  font-size: 18px;
  color: var(--text-light);
  font-weight: bold;
}

small {
  font-size: 18px;
  color: var(--text-light);
  display: block;
}

.container, section {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}


section:not(#main) {
  margin-top: 43px;
  padding-top: 116px; /* for anchor scroll top padding */
  margin-bottom: 159px;
}

p {
  font-size: 20px;
  line-height: 24px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  padding-left: 32px;
  background: url('img/list-item.svg') left center no-repeat;
  line-height: 37px;
}

em {
  color: var(--primary);
  font-style: normal;
}

.button {
  font-size: 18px;
  font-weight: bold;
  line-height: 38px;
  padding: 0 16px;
  color: var(--heading);
  border-radius: 19px;
  text-transform: uppercase;
  border: solid 1px var(--primary);
  transition: color 150ms linear, background-color 150ms linear;
  display: inline-block;
}

a.button:hover {
  background-color: var(--primary);
  color: white;
}

a.button:active {
  background-color: var(--secondary);
  color: white;
}

section .left {
  width: 579px;
  padding-right: 124px;
}

#main {
  flex: 1;
  min-height: calc(100vh - 72px); /* leave room for nav */
}

#main .left {
  flex-grow: 1;
}

#main::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background: linear-gradient(to right, transparent 0%, transparent 50%, var(--primary) 50%, var(--primary) 100%);
  width: 100%;
  height: 340px;
  margin-top: -148px;
  transform: translateY(-33px);
}

/* hide if screen narrow */
@media all and (max-width: 1200px) {
  #main::before {
    display: none;
  }
}

#main .left, #main .right {
  background: var(--bg-color); /* hides the background color strip */
  z-index: 1;
  display: flex;
  align-items: center;
}

#main h1 {
  margin: 9px 0 19px -7px;
}

#main h1 em {
  display: block;
}

#main h3 {
  margin-left: -3px;
}

#fade_portrait {
  position: relative;
  height: 478px;
  width: 439px;
  margin-top: -87px;
}

#fade_portrait img {
  position: absolute;
  left: 8px;
  bottom: 0;
}

#fade_portrait::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 340px;
  width: 100%;
  background-color: var(--primary);
  border-top-left-radius: 170px;
  border-bottom-left-radius: 170px;
}

nav {
  height: 38px;
  padding: 20px 0 54px;
  position: sticky;
  position: -webkit-sticky; /* for safari */
  top: 0;
  z-index: 1;
  background: url(img/sticky.png) repeat-x 0 0;
  background-attachment: fixed;
}

nav .container {
  position: relative;
  justify-content: flex-end;
}

nav a[href="#"] {
  overflow: hidden;
  text-indent: -200px; /* hiding the actual text, showing bg instead */
  background: url(img/fade.png) repeat-x center 30px;
  background-size: auto 30px;
  background-attachment: fixed;
  width: 173px;
  height: 38px;
  position: absolute;
  left: 0;
}

nav .button {
  background-color: white;
  margin-left: 8px;
  border: 0;
}

#scroll-indicator {
  font-size: 20px;
  line-height: 1.2;
  color: #c4c4c4;
  margin-top: -85px;
}

#scroll-indicator svg {
  fill: var(--primary);
  margin-right: 1px;
  position: relative;
  top: 1px;
}

.project .left {
  width: 335px;
  padding-right: 76px;
  flex-shrink: 0;
}

.project h3{
  margin-bottom: 29px;
  margin-top: 27px;
}

.project img {
  box-shadow: 0 7px 40px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 40px;
}

.project small {
  margin-bottom: 32px;
}

.project .right {
  position: relative;
}

#neura {
  margin-left: 100px;
}

#neura-mobile {
  position: absolute;
  left: -100px;
  bottom: -70px;
}

#evme {
  padding-left: 550px;
}

#evme img {
  margin: 0;
}

#evme .cards {
  padding-top: 50px;
}

#evme .cards img {
  margin: 0 auto 16px;
  display: block;
  border-radius: 3px;
}

#evme .cards img:last-of-type {
  margin-bottom: 0;
}

#evme_mobile {
  position: absolute;
  bottom: 0;
  left: 200px; 
}

#evme_mobile1 {
  position: absolute;
  top: 0;
  left: 200px; 
}

#evme_firefoxos_mobile {
  position: absolute;
  top: 201px;
  left: 122px; 
}

#firefox {
  position: absolute;
  top: 198px;
  left: -59px;
  box-shadow: none;
}

#lets-talk {
  padding-top: 110px;
}

footer {
  min-height: calc(100vh - 39px); /* when scrolling to footer it end up always at the top of the anchor */
  flex-direction: column;
}

#footer-content {
  display: flex;
  justify-content: space-between;
}

footer .left, footer .right {
  width: 579px; 
}

#social {
  margin-top: 36px;
}

#linkedin, #twitter {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 4px;
  overflow: hidden;
  border-radius: 50%;
  line-height: 46px;
}

#linkedin {
  background-color: #0071a1;
}

#linkedin:hover {
  background-color: #1a96cb;
}

#linkedin:active {
  background-color: #00567b;
}

#twitter {
  background-color: #1da1f2;
}

#twitter:hover {
  background-color: #50bcff;
}

#twitter:active {
  background-color: #0979bd;
}

/* Mobile */
@media all and (max-width: 600px) {
  body {
    margin: 20px;
  }
  body, #main {
    display: unset;
  }
  body, #main h1 {
    width: auto;
  }

  h1 {
    font-size: 40px;
    line-height: normal;
  }
}