:root {
  --primary: #079e92;
  --secondary: #02786f;
  --third: #23beb2;
  --heading: #494949;
  --text-color: #494949;
  --text-light: #7e7e7e;
  --text-lightest: #9b9b9b;
  --bg-color: #f0f2f2;
  --bg-color-gradient: #e9e8e6;
}

html {
  background: var(--bg-color);
  -webkit-text-size-adjust: none;
}

body {
  font-family: effra, sans-serif;
  color: var(--text-color);
  margin: 0;
  font-weight: 300;
  background: linear-gradient(180deg, var(--bg-color) 0%, var(--bg-color-gradient) 100%);
  min-height: 100vh;
  display: flex;
}

#content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 260px;
}

#image {
  flex-grow: 1;
  flex-direction: column;
  text-align: right;
}

footer {
  font-size: 18px;
  line-height: 24px;
  color: var(--text-light);
}

footer strong {
  color: var(--text-color);
}

h1 {
  font-weight: 500;
  color: var(--heading);
  font-size: 82px;
  letter-spacing: -1.25px;
  line-height: 86px;
  margin: 0 0 10px -3px;
}

small {
  font-size: 14px;
  line-height: 17px;
  color: var(--text-lightest);
  display: block;
}

strong {
  font-weight: 400;
}

p {
  letter-spacing: -0.24px;
  font-size: 22px;
  margin: 30px 0;
}

#buttons {
  display: flex;
}

.button {
  font-size: 18px;
  font-weight: 500;
  line-height: 38px;
  padding: 0 24px;
  color: white;
  background-color: var(--primary);
  border-radius: 19px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 150ms linear, background-color 150ms linear;
  margin-right: 10px;
  display: inline-block;
  flex-shrink: 0;
}

a.button:hover {
  background-color: var(--third);
  color: white;
}

a.button:active {
  background-color: var(--secondary);
  color: white;
}

.button:last-of-type {
  margin-right: 0;
}

.button.inverse {
  color: var(--heading);
  background-color: transparent;
  border: solid 1px var(--primary);
  line-height: 36px;
  border-radius: 18px;
  padding: 0 16px;
}

.button.inverse:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
}

.button.inverse:active {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

#social {
  display: flex;
}

#linkedin, #twitter, #medium {
  width: 37px;
  height: 37px;
  text-align: center;
  margin-right: 8px;
  border-radius: 50%;
  line-height: 44px;
  transition: background-color 150ms linear;
}

#linkedin {
  background-color: #0071a1;
}

#linkedin:hover {
  background-color: #1a96cb;
}

#linkedin:active {
  background-color: #00567b;
}

#linkedin img {
  height: 19px;
}

#twitter {
  background-color: #1da1f2;
  line-height: 46px;
}

#twitter:hover {
  background-color: #50bcff;
}

#twitter img {
  width: 23px;
  height: 18px;
}

#twitter:active {
  background-color: #0979bd;
}

#medium {
  background-color: #12100e;
  text-indent: 1px;
}

#medium:hover {
  background-color: #504D4B;
}

#medium:active {
  background-color: #000000;
}

#medium img {
  width: 20px;
  height: 16px;
}

@media (min-width: 1440px) {
  #content {
    width: 1240px;
    padding: 100px 0;
  }

  #image {
    margin-bottom: -320px;
    margin-right: 8px;
  }

  #text p {
    width: 650px;
    margin-bottom: 30px;
  }

  #text p strong {
    display: block;
  }

  footer {
    margin-top: 30px;
  }

  footer .button {
    margin-left: 18px;
  }
}

@media (min-width: 1024px)  and (max-width: 1439px) {
  #content {
    width: 904px;
    padding: 60px 0;
  }

  #image {
    margin-bottom: -320px;
  }

  #image img {
    width: 430px;
    height: 410px;
  }

  #text p {
    width: 491px;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 62px;
    letter-spacing: -0.95px;
  }

  p {
    font-size: 18px;
    letter-spacing: -0.2px;
  }

  .button, .button.inverse {
    padding: 0 16px;
    font-size: 14px;
    line-height: 37px;
    margin-right: 5px;
  }

  footer .button {
    margin-left: 10px;
  }

  footer {
    font-size: 16px;
    margin-top: 50px
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  #content {
    padding: 60px;
  }

  #image {
    margin-bottom: -130px;
  }

  #image img {
    width: 430px;
    height: 410px;
  }

  h1 {
    font-size: 62px;
    letter-spacing: -0.95px;
    margin-bottom: 17px;
    width: 260px;
    line-height: 58px;
  }

  p {
    font-size: 18px;
    letter-spacing: -0.2px;
    width: 491px;
  }

  .button, .button.inverse {
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 37px;
  }

  footer {
    font-size: 16px;
    margin-top: 64px;
    padding-right: 25px;
  }

  footer .button {
    display: table;
    margin-bottom: 17px;
    margin-top: 13px;
  }
}

@media (min-width: 640px) and (max-width: 1023px) and (orientation: landscape) {
  #content {
    padding: 30px;
  }

  #image {
    margin-bottom: -202px;
  }
  
  #image img {
    width: 250px;
    height: 238px;
  }

  h1 {
    font-size: 50px;
    line-height: 43px;
    letter-spacing: -0.76px;
    margin-bottom: 16px;
  }

  p {
    font-size: 16px;
    letter-spacing: -0.18px;
    width: 340px;
    margin: 20px 0;
  }

  .button, .button.inverse {
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 37px;
    margin-right: 5px;
  }

  footer {
    font-size: 16px;
    margin-top: 30px;
    line-height: normal;
  }

  footer .button {
    margin-top: 10px;
    margin-bottom: 20px;
    display: table;
  }

  footer small {
    font-size: 12px;
    line-height: normal;
  }
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 639px) and (orientation: landscape) {
  #content {
    padding: 30px;
  }
  
  #image img {
    width: 250px;
    height: 238px;
  }

  #text {
    margin-top: 10px;
  }

  h1 {
    font-size: 50px;
    line-height: 43px;
    letter-spacing: -0.76px;
    margin-bottom: 16px;
    width: 260px;
  }

  p {
    font-size: 16px;
    letter-spacing: -0.18px;
    margin: 26px 0 30px;
  }

  #buttons {
    display: block;
    margin-bottom: 30px;
  }

  .button {
    font-size: 14px;
    font-weight: 500;
    line-height: 37px;
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
    text-align: center;
  }

  footer {
    font-size: 14px;
    line-height: normal;
  }

  footer .button {
    margin-bottom: 12px;
    margin-top: 10px;
  }

  footer small {
    font-size: 12px;
  }
}

@media (min-width: 530px) and (max-width: 639px) {
  #image {
    margin-bottom: -160px;
  }
}