/* reset */
body, h1, h2, h3, h4, h5 {
  margin: 0;
}

a {
  text-decoration: none;
}


:root {
  --primary: #079e92;
  --secondary: #02786f;
  --heading: #494949;
  --text-color: #7e7e7e;
  --text-light: #9b9b9b;
  --bg-color: #f0f2f2;
}

html {
  background-color: var(--bg-color);
  /* scroll-behavior: smooth; // no safari support yet */
}

body {
  font-family: effra, sans-serif;
  color: var(--text-color);
  margin: 0 auto;
  font-weight: 300;
  font-size: 20px;
}

h1 {
  font-size: 100px;
  line-height: 86px;
  letter-spacing: -0.4px;
  font-weight: 500;
  color: var(--heading);
}

h2 {
  font-size: 70px;
  font-weight: 500;
  line-height: 66px;
  margin-bottom: 29px;
  color: var(--primary);
}

h3 {
  font-size: 46px;
  line-height: 45px;
  font-weight: 500;
  color: var(--heading);
}

h4 {
  font-weight: normal;
  font-size: 36px;
  color: var(--heading);
  line-height: normal;
}

h5 {
  font-size: 18px;
  color: var(--text-light);
  font-weight: bold;
}

small {
  font-size: 18px;
  color: var(--text-light);
  display: block;
}

#projects {
  overflow-x: hidden; /* prevents overflowing content images from causing page overscroll */
  min-width: 1200px;
  flex-direction: column;
}

.container, section {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

section:not(#main) {
  margin-top: 43px;
  padding-top: 116px; /* for anchor scroll top padding */
  margin-bottom: 159px;
}

#project section:last-of-type {
  margin-bottom: 0 !important;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  background: url('img/list-item.svg') left 6px no-repeat;
  padding: 7px 0 6px 32px;
}

em {
  color: var(--primary);
  font-style: normal;
}

.button {
  font-size: 18px;
  font-weight: bold;
  line-height: 38px;
  padding: 0 16px;
  color: var(--heading);
  border-radius: 19px;
  text-transform: uppercase;
  border: solid 1px var(--primary);
  transition: color 150ms linear, background-color 150ms linear;
  display: inline-block;
}

a.button:hover {
  background-color: var(--primary);
  color: white;
}

a.button:active {
  background-color: var(--secondary);
  color: white;
}

section .left {
  width: 579px;
  padding-right: 124px;
}

#main {
  flex: 1;
  min-height: calc(100vh - 72px); /* leave room for nav */
}

#main .left {
  flex-grow: 1;
  z-index: 1;
  position: relative;
}

#main .left, #main .right {
  display: flex;
  align-items: center;
}

#main h1 {
  margin: 9px 0 19px -7px;
  position: relative;
}

#main h1 em {
  --item-count: 4;
  --anim-duration: 4.4s;
  --anim-translate-x: 20px;
  position: absolute;
  top: 86px;
  left: 0;
  opacity: 0;
  animation-name: carousel;
  animation-duration: calc(var(--anim-duration) * var(--item-count));
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#main h1 em:nth-of-type(1){
  animation-name: carousel, start-static;
  animation-iteration-count: infinite, 1;
}

#main h1 em:nth-of-type(2){
  animation-delay: var(--anim-duration);
}

#main h1 em:nth-of-type(3){
  animation-delay: calc(var(--anim-duration) * 2);
}

#main h1 em:nth-of-type(4){
  animation-delay: calc(var(--anim-duration) *3);
}


@keyframes carousel {
  from {
    opacity: 0;
    transform: translateX(calc(var(--anim-translate-x) * -1));
  }
  2%, 25% {
    opacity: 1;
    transform: translateX(0);
  }
  27%, to {
    opacity: 0;
    transform: translateX(var(--anim-translate-x));
  }
}

@keyframes start-static {
  from, 25% {
    opacity: 1;
    transform: translateX(0);
  }
  27%, to {
    opacity: 0;
    transform: translateX(var(--anim-translate-x));
  }
}

#main h3 {
  margin-left: -3px;
}

#fade_portrait {
  position: relative;
  height: 477px;
  width: 439px;
  margin-top: -87px;
  background: var(--bg-color); /* hides the background color strip */
}

#fade_portrait img {
  position: absolute;
  left: 8px;
  bottom: 0;
}

#fade_portrait::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 340px;
  width: 100%;
  background-color: var(--primary);
  border-top-left-radius: 170px;
  border-bottom-left-radius: 170px;
}

#main .right::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 340px;
  background: linear-gradient(to right, transparent 0%, transparent 50%, var(--primary) 50%, var(--primary) 100%);
  width: calc(100% - 340px); /* so it doesn't create a page overflow-x */
  height: 340px;
  margin-top: -181px;
}

/* hide if screen narrow */
@media all and (max-width: 1200px) {
  #main .right::before {
    display: none;
  }
}

nav {
  height: 38px;
  padding: 20px 0;
  z-index: 1;
}

nav.stick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: none; /* no transition when unstuck, cuz u don't want the bg to scroll with the page */
}

nav.stuck {
  background-color: white;
  box-shadow: 0 7px 40px 0 rgba(0, 0, 0, 0.08);
  transition: background-color 70ms ease-out;
}

nav .container {
  position: relative;
  justify-content: flex-end;
}

nav a[href="#"],
nav #scroll-indicator {
  position: absolute;
  left: 0;
  line-height: 38px;
}

nav a[href="#"] {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -0.3px;
  color: var(--heading);
}

nav.was-stuck #scroll-indicator,
nav:not(.stuck) a[href="#"] {
  display: none;
}

nav .button {
  background-color: white;
  margin-left: 8px;
  border: 0;
}

#scroll-indicator {
  color: #c4c4c4;
}

#scroll-indicator svg {
  animation: hover 1s infinite;
  animation-timing-function: ease-in-out;
}

body.scrolled #scroll-indicator svg {
  animation: none;
}

@keyframes hover {
  0%, 100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}

#scroll-indicator svg {
  fill: var(--primary);
  margin-right: 6px;
  position: relative;
  top: 1px;
}


.project .left {
  width: 335px;
  padding-right: 76px;
  flex-shrink: 0;
}

.project h3{
  margin-bottom: 29px;
  margin-top: 27px;
}

.project .right img {
  box-shadow: 0 7px 40px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 40px;
  vertical-align: bottom; /* removes unnecessary bottom margin */
}

.project small {
  margin-bottom: 32px;
}

.project .right {
  position: relative;
}

.project.with-extra-content {
  flex-direction: column;
}

.project.with-extra-content > div {
  display: flex;
}

.project .extra-content {
  margin-top: 81px;
}

.project .extra-content .left {
  display: flex;
  align-items: center;
}

#product-design .right h4 {
  width: 360px;
}

#neura {
  margin-left: 100px;
}

#neura-mobile {
  position: absolute;
  left: -100px;
  bottom: -70px;
}

#evme {
  padding-left: 550px;
}

#evme img {
  margin: 0;
}

#evme .cards {
  padding-top: 50px;
}

#evme .cards img {
  margin: 0 auto 16px;
  display: block;
  border-radius: 3px;
}

#evme .cards picture:last-of-type img {
  margin-bottom: 0;
}

#evme_mobile {
  position: absolute;
  bottom: 0;
  left: 200px; 
}

#evme_mobile1 {
  position: absolute;
  top: 0;
  left: 200px; 
}

#evme_firefoxos_mobile {
  position: absolute;
  top: 201px;
  left: 122px; 
}

#firefox {
  position: absolute;
  top: 198px;
  left: -59px;
  box-shadow: none;
}

#lets-talk {
  padding-top: 110px;
}

.no-shadow {
  box-shadow: none !important;
}

footer {
  min-height: calc(100vh - 39px); /* when scrolling to footer it end up always at the top of the anchor */
  flex-direction: column;
}

#footer-content {
  display: flex;
  justify-content: space-between;
}

footer .left, footer .right {
  width: 579px; 
}

#social {
  margin-top: 36px;
}

#linkedin, #twitter {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 4px;
  overflow: hidden;
  border-radius: 50%;
  line-height: 46px;
}

#linkedin {
  background-color: #0071a1;
}

#linkedin:hover {
  background-color: #1a96cb;
}

#linkedin:active {
  background-color: #00567b;
}

#twitter {
  background-color: #1da1f2;
  text-indent: 1px;
}

#twitter:hover {
  background-color: #50bcff;
}

#twitter:active {
  background-color: #0979bd;
}

#copyright {
  color: var(--text-light);
  font-size: 14px;
}