body {
  margin-top: 55px;
  font-weight: 400;
}

h1 {
  font-size: 46px;
  line-height: 44px;
  letter-spacing: -0.2px;
}

h2 {
  font-size: 35px;
  line-height: 37px;
  padding-top: 80px;
}

h3 {
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 21px;
}

h4 {
  font-size: 23px;
  letter-spacing: -0.3px;
  margin-top: 29px;
}

h5 {
  margin-bottom: 12px;
}

small {
  margin-bottom: 4px;
}

ul {
  margin: 10px 0 0;
}

section:not(#main, #product-design) {
  margin-bottom: 70px;
}

section#product-design > div {
  margin-top: 0;
}

section#product-design > div > h3 {
  padding-top: 80px;
}

nav {
  padding: 30px 0;
}

nav .button {
  font-size: 16px;
  line-height: 35px;
  border-radius: 18px;
}

.right.text-only, #evme .cards, .mobile-w290, section:not(.project), .container {
  width: 290px;
  margin: auto;
}

#mobile-nav {
  width: 360px;
  margin: auto;
}

.left {
  width: 290px;
  margin: auto;
  margin-top: 40px;
}

#main {
  min-height: auto;
  width: auto;
}

#main h1 em {
  --x-offset: -10px; /* https://bit.ly/2uP3qeS */
  top: 89px;
}

#main h1 {
  margin-left: -3px;
}

#main .right {
  position: relative;
  justify-content: center;
  display: flex;
}

#main .right::before {
  left: 0;
  width: 100vw;
  height: 177px;
  margin-top: -55px;
}

.project img {
  width: 100%;
  height: auto;
  box-shadow: 0 6px 32px 0 rgba(0, 0, 0, 0.08);
  display: block;
  margin: 0 auto 20px;
}

.project picture:first-of-type img {
  margin-top: 40px;
}

.project img.mobile-w60 {
  width: 60% !important;
}

.extra-content {
  margin-top: 40px;
}

.project .left .button {
  display: none;
}

#fade_portrait {
  overflow: hidden;
  flex-basis: 290px;
  height: 245px;
}

#fade_portrait::before {
  height: 177px;
  border-top-left-radius: 88px;
  border-bottom-left-radius: 88px;
}

#fade_portrait img {
  width: 233px;
  height: 222px;
  left: 4px;
}

#evme .cards {
  padding-top: 20px;
}

#evme .cards img:not(.mobile-card-wide) {
  width: 90% !important;
}

#footer-content {
  flex-direction: column;
  position: relative;
  padding-bottom: 58px;
}

/* https://bit.ly/2G21mGF */
#footer-content a.button:hover {
  background-color: transparent;
  color: var(--heading);
}

footer .button {
  display: block;
  text-align: center;
}

/* push copyright to the bottom */
#copyright {
  position: absolute;
  bottom: 1px;
}

img.mobile-no-shadow {
  box-shadow: none !important;
}

#lets-talk {
  margin-bottom: -30px;
}

footer h4 {
  margin: 40px 0 4px;
}

#social {
  margin-top: 40px;
}
