h1 {
  font-size: 80px;
  line-height: 68px;
  letter-spacing: -0.3px;
}

#main h1 em {
  top: 138px; 
}

section:not(#main), #lets-talk  {
  margin-top: 0;
}

.container, section {
  width: 924px;
}

h2 {
  font-size: 56px;
  line-height: 53px;
}

h4 {
  font-size: 29px;
}

#fade_portrait {
  height: 381px;
  width: 351px;
}

#fade_portrait::before {
  height: 272px;
}

#fade_portrait img{
  width: 358px;
  height: 341px;
}

#main .right::before {
  height: 272px;
  margin-top: -161px;
}

#projects {
  min-width: 924px;
}

.project {
  position: relative;
}

/* The evme layout is so radically different than the original, I'm gonna go with quick and dirty absolute positioning, */
#evme {
  padding-left: 0;
  position: absolute;
  left: 0;
  right: 0;
}

#phone {
  height: 1362px;
}

#firefox_os {
  position: absolute;
  left: 427px;
  top: 0;
}

#evme_mobile {
  position: absolute;
  left: 0;
}

.cards img {
  position: absolute;
  height: auto;
  width: 280px;
}

.cards picture:nth-child(1) img,
.cards picture:nth-child(2) img {
  left: calc(50% - 140px); /* center */
}

.cards picture:nth-child(3) img,
.cards picture:nth-child(4) img,
.cards picture:nth-child(5) img {
  right: 0;
}

#evme_mobile,
.cards picture:nth-child(1) img,
.cards picture:nth-child(3) img {
  top: 672px;
}

.cards picture:nth-child(2) img {
  top: 947px;
}

.cards picture:nth-child(4) img {
  top: 838px;
}

.cards picture:nth-child(5) img {
  top: 1105px;
}

.extra-content {
  flex-direction: column;
}

.extra-content .left,
.extra-content .right {
  padding: 0;
  width: auto;
}

.extra-content .right {
  text-align: center;
}

.extra-content {
  margin-top: 0;
}

.extra-content .left p {
  margin: 40px 0;
}

#the_rest picture:not(:first-of-type) img {
  margin-left: -319px;
  width: calc(100% - 35px);
  height: auto;
}

footer .left, footer .right {
  margin-right: 60px;
}

.left.pad-w280 {
  width: 280px;
  padding-right: 40px;
}
