/* unhide */
#scroll-indicator {
  display: unset;
}

nav {
  padding: 36px 0 66px;
}

nav .container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

nav .button {
  margin-left: 8px;
}

.container, section {
  width: auto;
  margin: 0 40px;
}

section:not(#main) {
  margin-bottom: 70px;
}

section#product-design {
  margin-bottom: 30px;
}

#main .right::before {
  display: none;
}

#scroll-indicator {
  position: absolute;
  top: 84px;
  left: calc(50% - 61px);
  color: var(--text-color);
}

#scroll-indicator svg {
  position: absolute;
  top: 30px;
  left: calc(50% - 14px);
}

#evme_mobile {
  right: 50px;
  left: auto;
}

#evme_firefoxos_mobile {
  right: 252px;
}

#firefox_os {
  position: static;
}

h1 {
  font-size: 75px;
  line-height: 68px;
  letter-spacing: -0.3px;
}

#main h1 em {
  top: 138px;
}

h2 {
  font-size: 56px;
  line-height: 53px;
  padding-top: 66px;
}

h3 {
  font-size: 46px;
  line-height: 45px;
  margin-bottom: 21px;
}

h4 {
  font-size: 29px;
  letter-spacing: -0.3px;
  margin-top: 30px;
}

h5 br {
  display: none;
}

ul {
  display: inline-block;
  width: 49%;
  /*margin-top: 15px !important;*/
  vertical-align: top;
}

ul:last-of-type {
  margin-bottom: 0px;
}

ul:first-of-type {
  margin-top: 0px;
}

#main .left {
  z-index: 1;
  position: relative;
}

#fade_portrait {
  height: 381px;
  width: 351px;
  margin-top: -29px;
}

#fade_portrait::before {
  height: 272px;
  border-top-left-radius: 136px;
  border-bottom-left-radius: 136px;
  width: calc(100vw - 40px);
  right: auto;
}

#fade_portrait img{
  width: 358px;
  height: 341px;
}

#main .right::before {
  height: 272px;
  margin-top: -161px;
}

#projects {
  min-width: 0;
}

.project .right {
  position: relative;
}

.project img {
  width: 100%;
  height: auto;
  box-shadow: 0 6px 32px 0 rgba(0, 0, 0, 0.08);
  display: block;
  margin: 0;
}

.project img.customer-logo {
  width: initial;
  height: auto;
  box-shadow: none;
  display: block;
  margin: auto auto auto 0;
}

.project picture:first-of-type img {
  margin-top: 40px;
}

.project img.mobile-w60 {
  width: 38% !important;
}

.project .left {
  margin-bottom: 40px;
}

.extra-content .left {
  margin-bottom: 20px;
}

.extra-content {
  margin-top: 40px;
}

.project .left .button {
  display: none;
}

#phone {
  height: 1622px;
}

#the_rest picture:not(:first-of-type) img {
  width: 100%;
}

#evme_mobile {
  position: absolute;
  right: 0;
  top: 193px;
  width: 224px !important;
}

#evme_firefoxos_mobile {
  position: absolute;
  right: 202px;
  width: 461px !important;
  top: -34px;
}

.cards img {
  position: absolute;
  height: auto;
  width: 267px;
}

.cards picture:nth-child(1) img,
.cards picture:nth-child(4) img {
  left: calc(50% - 267px - 7px); /* center + gutter */
  right: auto;
}

.cards picture:nth-child(2) img,
.cards picture:nth-child(3) img,
.cards picture:nth-child(5) img {
  right: calc(50% - 267px - 7px); /* center + gutter */
  left: auto;
}

.cards picture:nth-child(1) img,
.cards picture:nth-child(2) img {
  top: 662px;
}

.cards picture:nth-child(4) img {
  top: 923px;
}

.cards picture:nth-child(3) img {
  top: 852px;
}

.cards picture:nth-child(5) img {
  top: 1010px;
}

footer .left, footer .right {
  margin-right: 0;
}

footer .left {
  display: flex;
}

footer .left #social {
  width: 185px;
  flex-shrink: 0;
  margin-left: 55px;
}

#footer-content {
  flex-direction: row;
  position: relative;
  padding-bottom: 58px;
}

/* https://bit.ly/2G21mGF */
#footer-content a.button:hover {
  background-color: transparent;
  color: var(--heading);
}

footer .button {
  display: inline-block;
  text-align: center;
}

/* push copyright to the bottom */
#copyright {
  position: absolute;
  bottom: 1px;
}

img.mobile-no-shadow {
  box-shadow: none !important;
}

#lets-talk {
  margin-bottom: -30px;
}

footer h4 {
  margin: 40px 0 4px;
}

#social {
  margin-top: 0;
}

.project .left .button {
  display: inline-block;
  margin-top: 14px;
  margin-bottom: 5px;
}

section#product-design {
  /*margin-bottom: 70px;*/
}

#product-design h4 {
  margin-bottom: 30px;
}
