@font-face {
    font-family: "CircularStd-Bold";
    src: url("../fonts/CircularStd-Bold.otf");
}
@font-face {
    font-family: "CircularStd-Medium";
    src: url("../fonts/CircularStd-Medium.otf");
}

.flow-layer {
    position: absolute;
    overflow: visible;
    box-sizing: border-box;
    border-width: 0px;
}

.flow-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border-width: 0px;
}

.flow-border {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0px;
}

#LiveToPreview.flow-artboard {
    width: 360px;
    height: 351px;
    overflow: hidden;
    position: relative;
    padding: 0px;
    margin: 0px auto;
    background-color: #FFFFFF;
    visibility: visible;
}

#LiveToPreview .widget_base {
    width: 360px;
    height: 202.79px;
    left: 180px;
    top: 101.4px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #00000000;
    filter: drop-shadow(0px 7px 20px #1E6B9D26);
    overflow: visible;
}

#LiveToPreview .widget_base-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #82949F;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}

#LiveToPreview .header {
    width: 360px;
    height: 174px;
    left: 180px;
    top: 87px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #00000000;
    overflow: visible;
}

#LiveToPreview .header_bg {
    width: 360px;
    height: 174px;
    left: 180px;
    top: 87px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #00000000;
    overflow: visible;
}

#LiveToPreview .header_bg-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #41A7FC;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#LiveToPreview .header_title {
    width: 98px;
    height: 25px;
    left: 95px;
    top: 55.5px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #00000000;
    overflow: visible;
    font-family: "CircularStd-Medium";
    font-size: 20px;
    text-anchor: middle;
    inline-size: 98;
    text-align: left;
    color: #FFFFFF;
    overflow: hidden;}

#LiveToPreview .status_indicator {
    width: 8px;
    height: 8px;
    left: 33px;
    top: 57px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #00000000;
    overflow: visible;
}

#LiveToPreview .status_indicator-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #35FDA2;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#LiveToPreview .btn_widget_close {
    width: 30px;
    height: 30px;
    left: 335px;
    top: 25.08px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #00000000;
    overflow: visible;
}

#LiveToPreview .btn_base {
    width: 29.19px;
    height: 29.43px;
    left: 15px;
    top: 15.12px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #00000000;
    overflow: visible;
}

#LiveToPreview .btn_base-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #FFFFFF;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#LiveToPreview .arrow_small {
    width: 7.23px;
    height: 7.29px;
    left: 17.36px;
    top: 12.75px;
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0.7;
    background-color: #00000000;
    overflow: visible;
}

#LiveToPreview .arrow_small-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #28AAFF;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#LiveToPreview .arrow_big {
    width: 10.37px;
    height: 10.46px;
    left: 12.76px;
    top: 17.58px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #00000000;
    overflow: visible;
}

#LiveToPreview .arrow_big-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #28AAFF;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}

#LiveToPreview .card {
    width: 340px;
    height: 74px;
    left: 180px;
    top: 145px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #00000000;
    overflow: visible;
}

#LiveToPreview .component_bg {
    width: 340px;
    height: 74px;
    left: 170px;
    top: 37px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #00000000;
    filter: drop-shadow(0px 10px 25px #1E6B9D29);
    overflow: visible;
}

#LiveToPreview .component_bg-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #FFFFFF;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#LiveToPreview .text_line_mock2 {
    width: 6px;
    height: 7px;
    left: 33px;
    top: 55.5px;
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
    background-color: #00000000;
    overflow: visible;
}

#LiveToPreview .text_line_mock2-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #031E34;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#LiveToPreview .text_line_mock {
    width: 139px;
    height: 7px;
    left: 113.5px;
    top: 36.5px;
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0.4;
    background-color: #00000000;
    overflow: visible;
}

#LiveToPreview .text_line_mock-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #031E34;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#LiveToPreview .icon_v_in_circle {
    width: 16px;
    height: 16px;
    left: 28px;
    top: 36.6px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #00000000;
    overflow: visible;
}

#LiveToPreview .icon_v_in_circle-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #14C474;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#LiveToPreview .primary_btn {
    width: 89px;
    height: 32px;
    left: 275.5px;
    top: 38px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #00000000;
    overflow: visible;
}

#LiveToPreview .primary_btn_bg {
    width: 89px;
    height: 32px;
    left: 44.5px;
    top: 16px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #00000000;
    overflow: visible;
}

#LiveToPreview .primary_btn_bg-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #031E34;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#LiveToPreview .primary_btn_text {
    width: 61px;
    height: 18px;
    left: 44px;
    top: 16px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #00000000;
    overflow: visible;
    font-family: "CircularStd-Bold";
    font-size: 14px;
    text-anchor: middle;
    inline-size: 61;
    text-align: center;
    color: #FFFFFF;
    overflow: hidden;}


path {
    fill-rule: evenodd; 
}

svg {
   overflow: visible;
}