
.flow-layer {
    position: absolute;
    overflow: visible;
    box-sizing: border-box;
    border-width: 0px;
}

.flow-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border-width: 0px;
}

.flow-border {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0px;
}

#WidgetMockAnimation.flow-artboard {
    width: 400px;
    height: 398px;
    overflow: hidden;
    position: relative;
    padding: 0px;
    margin: 0px auto;
    background-color: #FFFFFF;
    visibility: visible;
}

#WidgetMockAnimation .widget {
    width: 360px;
    height: 206px;
    left: 20px;
    top: 13px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    border-radius: 21px;

    overflow: hidden;
}

#WidgetMockAnimation .widget-border {
    border-width: 0px;
    border-radius: 21px;
    border-color: #000000;
}

#WidgetMockAnimation .widget_base {
    width: 360px;
    height: 308px;
    left: 0px;
    top: 0px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    filter: drop-shadow(0px 7px 15px #006CA126);
    overflow: visible;
}

#WidgetMockAnimation .widget_base-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    stroke: #FF007500;
    fill: #82949F;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}
#WidgetMockAnimation .header_bg {
    width: 360px;
    height: 174px;
    left: 0px;
    top: 0px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: visible;
}

#WidgetMockAnimation .header_bg-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #41A7FC;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}

#WidgetMockAnimation .card_bg {
    width: 340px;
    height: 74px;
    left: 30px;
    top: 121px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    filter: drop-shadow(0px 7.5px 0px #1E6B9D00);
    border-radius: 15px;

    overflow: hidden;
}

#WidgetMockAnimation .card_bg-border {
    border-width: 0px;
    border-radius: 15px;
    border-color: #000000;
}

#WidgetMockAnimation .card_bg-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    stroke: #FF006B00;
    fill: #FFFFFF;
    stroke-miterlimit: 10;
    stroke-width: 0px;
}

path {
    fill-rule: evenodd; 
}

svg {
   overflow: visible;
}